{
    "presets": [
      "es2015",
      "stage-2",
      "react",
      "mobx"
    ],
    "plugins": [
        "react-hot-loader/babel",
        ["import",
            {
                "libraryName": "antd",
                "libraryDirectory": "es",
                "style": true
            }
        ],
        "transform-decorators-legacy",
        "minify-constant-folding",
        ["minify-dead-code-elimination",
            {
                "optimizeRawSize": true
            }
        ],
        "minify-flip-comparisons",
        "minify-guarded-expressions",
        "minify-infinity",
        ["minify-mangle-names",
            { "exclude":
                {
                    "foo": true,
                    "bar": true
                }
            }
        ]

    ]
  }
